<section>
    <div class="container-fluid mt-4">
        <div class="col-md-6">
            <h2 class="text-center">Add a product</h2>
            <form action="/admin/add-product" method="POST" enctype="multipart/form-data">
                <label>name</label>
                <input type="text" name="name" class="form-control">
                <label>category</label>
                <input type="text" name="category" class="form-control">
                <label>price</label>
                <input type="text" name="Price" class="form-control">
                <label>image</label>
                <input type="file" name="image" class="form-control">
                <label>description</label>
                <textarea col="15" row="5"name="description" class="form-control">
                    </textarea>
                <input type="submit" class="btn btn-success mt-5"></input>
            </form>
        </div>
    </div>
</section>