<footer class="text-center text-white bg-dark">
    <div class="container pt-4">
        <section class="mb-4">
            <a class="btn btn-link btn-floating btn-lg text-light m-1" href="" role="button"
                data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>
            <a class="btn btn-link btn-floating btn-lg text-light m-1" href="#!" role="button"
                data-mdb-ripple-color="dark"><i class="fab fa-google"></i></a>
            <a class="btn btn-link btn-floating btn-lg text-light m-1" href="#!" role="button"
                data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>
        </section>
    </div>
    <div class="text-center text-white bg-dark p-3">
        This is fake Ecommerce Website.So do not enter credentials in the application
    
  </div>

</footer>