<header>
    <div class="p-3 text-center  border-bottom" style="background-color:white">
        <div class="container">
            <div class="row gy-3">
                <!-- Left elements -->
                <div class="col-lg-2 col-sm-4 col-4">
                    <a href="/" class="float-start">
                        <img src="/images/tlx-logo.png" height="100" />
                    </a>
                </div>
                <div class="order-lg-last col-lg-5 col-sm-8 col-8">
                    <div class="d-flex float-end mt-4">
                        {{#if user}}
                        <a href="/profile"
                            class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center text-dark">
                            <i class='fas fa-user-circle m-1 me-md-2'></i>
                            <p class="d-none d-md-block mb-0">{{user.Name}}</p>
                        </a>
                        <a href="/logout"
                            class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center text-dark">
                            <i class="fas fa-user-alt m-1 me-md-2"></i>
                            <p class="d-none d-md-block mb-0">Logout</p>
                        </a>
                        <a href="/cart" class="border rounded py-1 px-3 nav-link d-flex align-items-center text-dark">
                            <i class="fas fa-shopping-cart m-1 me-md-2"></i>
                            <p class="d-none d-md-block mb-0">Cart</p>
                        </a>
                        {{else}}
                        <a href="/signup"
                            class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center text-dark">
                            <i class="fas fa-user-alt m-1 me-md-2"></i>
                            <p class="d-none d-md-block mb-0">Sign Up</p>
                        </a>
                        <a href="/login"
                            class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center text-dark">
                            <i class="fas fa-user m-1 me-md-2"></i>
                            <p class="d-none d-md-block mb-0">Login</p>
                        </a>
                        {{/if}}
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-12">
                    <form action="/" method="GET">
                        <div class="input-group mt-4" id="search-container">
                            <input class="form-control py-2 mr-1 pr-5" type="search"
                                placeholder="Search for products, brands and more ..." name="keyword"
                                id="example-search-input">
                            <span class="input-group-prepend">
                                <button class="btn border-0 ml-n5" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</header>