<div class="d-flex justify-content-center align-items-start mt-5" style="height: 100vh;">
  <div class="card shadow-2-strong" style="border-radius: 1rem;">
    <div class="card-body p-5 text-center">
      <form method="post" action="/login" syle="margin-top:auto;">
        <h2 class="text-uppercase text-center mb-5">Sign in</h2>
        {{#if loginErr}}
        <p id="err" align="center" style="color: rgb(9, 9, 9);">{{loginErr}}</p>
        {{/if}}
        <div class="form-outline mb-4">
          <input type="email" id="loginName" name="Email" style="border-color:black; border-width:thin" class="form-control"
            placeholder="Email address or Username" />
        </div>

        <div class="form-outline mb-4">
          <input type="password" id="loginPassword" style="border-color:black;" name="Password" class="form-control"
            placeholder="Password" />
        </div>
        <div class="row mb-4">
          <div class="col-md-12 d-flex justify-content-center">
            <a href="/forgot-password">Forgot password?</a>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-4 align-center"
          style="display:block;margin:auto;width:100%;">Sign
          in</button>
        <div class="text-center">
          <p>Not a member? <a href="/signup">Register</a></p>
        </div>
      </form>
    </div>
  </div>
</div>