<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
   <form method="post" action="/reset-password/{{token}}">

     <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Reset your Password</p>
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1">New Password</label>
      <input type="Password" name="password" id="form2Example1" class="form-control form-control-sm" />

    </div>

  
     <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1">confirm Password</label>
      <input type="Password" name="confirmpassword" id="form2Example1" class="form-control form-control-sm" />
      <p id="error"></p>
    </div>
    <button type="submit" class="btn btn-primary btn-block mb-4">submit</button>

   
    </div>
  </form>
  <script>
    var confirmpassword=document.getElementsByName("confirmpassword")
    var password=document.getElementsByName("password")
    if(password==confirmpassword){
        document.getElementById("error").innerHTML="confirm password must be same as password"
    }
  </script>
</div>