
<section>
  <div class="container-fluid mt-4">

    <div class="row">
      {{#each product}}
      <div class="col-md-3">
        <div class="card" style="width: 15rem; height:25rem;">
          <img src="/product-images/{{this._id}}.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.description}}</p>
            <p class="card-text">{{this.Price}}</p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>

      </div>
      {{/each}}
    </div>
  </div>
</section>
